<div ng-contorller = "CourseCreateCtrl">
<h3>Add Course</h3>
    <form ng-submit="addCourse()">
      <div class="form-group">
        <label>Course Title</label>
        <input type="text" class="form-control" ng-model="title" name="title" placeholder="Enter Title">
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" ng-model="category" name="category">
            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
        </select>
      </div>
       <div class="form-group">
        <label>Link</label>
        <input type="text" class="form-control" ng-model="linkurl" name="linkurl" placeholder="Enter link">
      </div>
      <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" ng-model="previmage" name="previmage" placeholder="Enter link">
      </div>

       <div class="form-group">
        <label>Lang</label>
        <input type="text" class="form-control" ng-model="lang" name="lang" placeholder="Enter link">
      </div>

       <div class="form-group">
        <label>Provider</label>
        <input type="text" class="form-control" ng-model="provider" name="provider" placeholder="Enter link">
      </div>

      
      <div class="form-group">
        <label>Body Text</label>
        <textarea class="form-control" ng-model="body" name="body" placeholder="Enter Course Body"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <a class="btn btn-danger" href="/#categories">Cancel</a>
    </form>
</div>
