<h3 class="heading">{{category}} Courses</h3>
<div ng-controller = "CoursesCategoryCtrl">
    <a href="#/categories">Go Back</a>
    <div class="row">
        <div class="courses">
            <div ng-repeat="course in cat_courses">
                <div class="col-md-12">
                        <div class="course">
                            <h4>{{course.title}}</h4>
                            <p>{{course.body | limitTo:200}}</p>
                            <a class="btn btn-default" href="#/courses/details/{{course._id}}">Read Course</a>
                        </div>
                </div>
            </div>
            <div ng-if="courses == false">
                No courses to display
            </div>
        </div>
    </div>
</div>
