<span class="gt-backlink"><a href="#/courses"><i class="fa fa-long-arrow-left"></i> Go Back</a></span>


<h3 class="heading">Categories</h3>


<div class="container-fluid">
    <h3 class="heading">Featured Courses</h3>
    <div ng-controller="CategoriesCtrl">


        <div class="box">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="category in categories">
                <div class="teammembers">
                    <div class="valign">
                        <div class="teamimg">
                            <img class="img-responsive" ng-src="{{course.previmage}}" alt=""
                                 class="avatar-me js-avatar-me">
                        </div>
                        <div class="desc">
                            <h4>{{category.name}}</h4>
                            <small>{{category.description}}</small>
                            <a class="btn btn-default" href="#/courses/category/{{category.name}}">VIEW
                                COURSES &rarr;</a>
                        </div>
                    </div>

                </div>
                <!-- end member -->
            </div>
        </div>


    </div>
</div>


<h3 class="heading">Latest Courses</h3>
<div ng-controller="CoursesCtrl">


    <div class="box">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="course in courses | limitTo:6">
            <div class="teammembers">
                <div class="valign">
                    <div class="teamimg">
                        <img class="img-responsive" ng-src="{{course.previmage}}" alt="" class="avatar-me js-avatar-me">
                    </div>
                    <div class="desc">
                        <h4>{{course.title}}</h4>
                        <small>Web Designer</small>
                        <a class="btn btn-default" href="#/courses/details/{{course._id}}">Watch Course</a>
                    </div>
                </div>
                <!-- valign -->
                <div class="social clearfix">
                    <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a
                            data-placement="bottom" data-toggle="tooltip" data-original-title="Follow on Twitter"
                            title="" href="#"><i class="fa fa-twitter"></i></a></span>
                    <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a
                            data-placement="bottom" data-toggle="tooltip" data-original-title="Like on Facebook"
                            title="" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a
                            data-placement="bottom" data-toggle="tooltip" data-original-title="Circle on Google Plus"
                            title="" href="#"><i class="fa fa-google-plus"></i></a></span>
                    <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a
                            data-placement="bottom" data-toggle="tooltip" data-original-title="Be Friend on Linkedin"
                            title="" href="#"><i class="fa fa-linkedin"></i></a></span>
                </div>
                <!-- end social -->
            </div>
            <!-- end member -->
        </div>
    </div>


</div>
