<span class="gt-backlink"><a href="#/courses"><i class="fa fa-long-arrow-left"></i> Go Back</a></span>

<header class="col-md-12 text-center">
<h1>Courses</h1>

        </header>

<h3 class="heading"></h3>

<div ng-controller="CoursesCtrl">


          <div class="row-eq-height">






                <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="course in courses | limitTo:100">

                    <div class="teammembers">
                        <div class="valign">
                            <div class="teamimg">
                                <img class="img-responsive" ng-src="{{course.previmage}}" alt="" class="avatar-me js-avatar-me">
                            </div>
                            <div class="desc">
                                <h4>{{course.title}}</h4>
                                <!--<small>{{course.body | limitTo:60}} </small>-->
                                <a class="btn btn-primary" href="#/courses/details/{{course._id}}">Watch Course &rarr;</a>
                            </div>
                        </div>
                        <!-- valign -->

                        <!-- end social -->
                    </div>
                    <!-- end member -->
                </div>


          </div>
       </div>

            </div>



    </div>
