<div ng-controller="CourseDetailsCtrl">

    <span class="gt-backlink"><a href="#/courses"><i class="fa fa-long-arrow-left"></i> Go Back</a></span>
    
    



    <div class="coursepage-detailmain-cnt">
        <div class="coursepage-details-content">
            <div class="coursepage-titleblock">
                <h4 class="coursepage-coursetitle">{{course.title}}</h4>
<div>
        <img ng-src="{{course.previmage}}" alt="" width="124" height="124" class="avatar-me js-avatar-me">
    </div>

    <div>
        <a class="btn btn-default" ng-href="{{course.linkurl}}"> Goto Course</a>
    </div>







<div class="actions">
        <a href="#/courses/edit/{{course._id}}" class="btn btn-default">Edit</a>
        <a href="#" class="btn btn-danger" ng-click="removeCourse()">Delete</a>
    </div>


        </div>
    </div>
</div>