<div ng-controller="CourseDetailsCtrl">

    <span class="gt-backlink"><a href="#/courses"><i class="fa fa-long-arrow-left"></i> Go Back</a></span>
    
    



    <div class="coursepage-detailmain-cnt">
        <div class="coursepage-details-content">
            <div class="coursepage-titleblock">
                <h4 class="coursepage-coursetitle">{{course.title}}</h4>
<div>
        <img ng-src="{{course.previmage}}" alt="" width="124" height="124" class="avatar-me js-avatar-me">
    </div>

    <div>
        <a class="btn btn-default" ng-href="{{course.linkurl}}"> Goto Course</a>
    </div>









                <div class="coursepage-cbtitle">
                    <span>Tags: </span>
                    <a class="coursepage-coursenumber" href="/sub/computer-science/101/intro-to-computer-science">CS101 - Intro to Computer Science</a>                    (15 Alt. Courses Available)
                </div>
                <ul class="coursepage-coursemeta">
                    <li><i class="fa fa-book"></i> <a href="/sub/computer-science">Computer Science</a></li>
                    <li><i class="fa fa-university"></i> <a href="/university/saylor">{{course.provider}}</a></li>
                    <li><i class="fa fa-calendar"></i> Always Available</li>
                </ul>
            </div>
            <div class="coursepage-details-cnt">
                <ul class="coursepage-tabnav nav nav-tabs" role="tablist">
                    <li class="active"><a href="#CourseDetails" role="tab" data-toggle="tab">Course Details</a></li>


                    <span class="share-icons" data-toshareurl="http://www.coursebuffet.com/course/83/saylor/introduction-to-computer-science-ii"
                        data-tosharetitle="Introduction to Computer Science II" data-isgroup="0">
                        <i class="fa fa-facebook facebook-title-share" title="Share this courses on Facebook"></i>
                        <i class="fa fa-twitter twitter-title-share" title="Share this Course on Twitter"></i>
                        <i class="fa fa-linkedin linkedin-title-share" title="Share this Course on Linkedin"></i>
                        <i class="fa fa-share-alt other-title-share" title="Share this Course"></i>
                        <span class="other-title-share-cnt hidden">
                         <i class="fa fa-google-plus gplus-title-share" title="Share this Course on G+"></i>
                       <i class="fa fa-tumblr tumblr-title-share" title="Share this Course on Tumblr"></i>
                       <i class="fa fa-envelope email-title-share" title="Share this Course by Email"></i>
                        <input type="text" class="uri-title-share" onclick="this.select();" value="http://www.coursebuffet.com/course/83/saylor/introduction-to-computer-science-ii" readonly=""> <label>Shorten<input type="checkbox" class="title-shorten-box"></label>
                        </span>
                        </span>
                </ul>
                <div class="tab-content coursepage-tabcnt">
                    <div class="tab-pane active fade in" id="CourseDetails">
                        <div class="coursedetails-description">
                            <span>Course Description: </span>
                            <p>
                                {{course.body}}
                            </p>
                        </div>
                    </div>



 <div class="tab-pane fade active in" id="CourseInfo">
    <ul class="CourseInfoTab-list1">
        <li><span>Instructor(s)</span> Various</li>
        <li><span>Provider</span>
            {{course.provider}}
        </li>
    </ul>
    <ul class="CourseInfoTab-list1">
        <li><span>Start Date</span> Always Available</li>
        <li><span>Duration</span> Always Available</li>
        <li><span>Main Language</span>  {{course.lang}}</li>
    </ul>
</div>


                </div>
            </div>




<div class="actions">
        <a href="#/courses/edit/{{course._id}}" class="btn btn-default">Edit</a>
        <a href="#" class="btn btn-danger" ng-click="removeCourse()">Delete</a>
    </div>


        </div>
    </div>
</div>