<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="degree-header-headline">
                    <h2>Get a Bachelor's Degree Worth of Learning, Pay $0</h2>
                    <h3> A full world class education from top schools is now at your fingertips. Expand your brain and fatten
                        your wallet with Course Centralt Degree Paths.</h3>
                </div>
                <div class="spacer"></div>
                <div class="container">
                    <div class="degree-header-cfa col-md-3 col-xs-5">
                        <a href="https://www.coursebuffet.com/degree/paths" class="degree-header-cfa-signup">Go to Degree Paths</a>
                    </div>
                    <div class="degree-header-down">
                        <img src="images/test/downarrow.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- /container -->
</div>
<div class="container-fluid">
    <div class="degree-features col-md-10 col-xs-12">
        <h3>We believe a college education should be flexible &amp; inexpensive</h3>
        <p>At Course Centralt we are harnessing the power of MOOCs from hundreds of universities to fully replicate a traditional
            university degree</p>
        <div class="degree-feature-left">
            <div class="feature-unit col-sm-4">
                <i class="dicons dicon-paper-plane"></i>
                <h5>Start Instantly</h5>
                <p>
                    Take a course now and start building new skill sets immediately.
                </p>
            </div>
            <div class="feature-unit col-sm-4">
                <i class="fa fa-globe"></i>
                <h5>Customizable Learning</h5>
                <p>
                    Select courses from world class professors and top universities.
                </p>
            </div>
            <div class="feature-unit col-sm-4">
                <i class="dicons dicon-thumbs-up"></i>
                <h5>Recognition </h5>
                <p>
                    Show your learning goals to colleagues and employers with ease.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="degree-slide-white">
        <div class="degree-sc1">
            <div class="container-fluid">
                <h3 class="scheading">Your higher education path is simple and straightforward</h3>
                <div class="degree-sc-unit col-md-8 col-xs-10">
                    <img src="images/test/dp-sc-1.png">
                    <div>
                        <h5>Relevant Learning Paths</h5>
                        <p>Start learning lucrative Computer Science or always useful Management skills.</p>
                    </div>
                </div>
                <div class="degree-sc-unit2 col-md-8 col-xs-10">
                    <img src="images/test/dp-sc-2.png">
                    <div>
                        <h5>The Big Picture is Clear</h5>
                        <p>Straight forward layout that makes your learning goals easy to understand and keeps your focus on
                            learning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="heading">Featured Courses</h3>
    <div ng-controller="CoursesCtrl">


            <div class="box">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="course in courses | limitTo:6">
                    <div class="teammembers">
                        <div class="valign">
                            <div class="teamimg">
                                <img class="img-responsive" ng-src="{{course.previmage}}" alt="" class="avatar-me js-avatar-me">
                            </div>
                            <div class="desc">
                                <h4>{{course.title}}</h4>
                                <small>Web Designer</small>
                                <a class="btn btn-default" href="#/courses/details/{{course._id}}">Watch Course</a>
                            </div>
                        </div>
                        <!-- valign -->
                        <div class="social clearfix">
                            <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Follow on Twitter" title="" href="#"><i class="fa fa-twitter"></i></a></span>
                            <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Like on Facebook" title="" href="#"><i class="fa fa-facebook"></i></a></span>
                            <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Circle on Google Plus" title="" href="#"><i class="fa fa-google-plus"></i></a></span>
                            <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Be Friend on Linkedin" title="" href="#"><i class="fa fa-linkedin"></i></a></span>
                        </div>
                        <!-- end social -->
                    </div>
                    <!-- end member -->
                </div>
            </div>



    </div>
</div>


</div>
<div class="degree-signupfooter">
    <span>Free Has Never Been So Valuable</span>
    <div class="signupfooter-link"><a href="https://www.coursebuffet.com/degree/paths">Go to Degree Paths</a></div>
    <div class="socialshare">
        <h5>Share Course Centralt Degree Paths</h5>
        <ul class="share-buttons" id="sh">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.coursebuffet.com%2Fdegree&amp;t=" target="_blank"
                    title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li><a href="https://www.coursebuffet.com/degree#sh" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li>
                <a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.coursebuffet.com%2Fdegree" target="_blank" title="Share on Google+"
                    onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
            <li>
                <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.coursebuffet.com%2Fdegree&amp;description=" target="_blank"
                    title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&amp;description=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-pinterest-square fa-2x"></i></a>
            </li>
            <li>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.coursebuffet.com%2Fdegree&amp;title=&amp;summary=&amp;source=https%3A%2F%2Fwww.coursebuffet.com%2Fdegree"
                    target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=' + encodeURIComponent(document.URL) + '&amp;title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li>
                <a href="mailto:?subject=&amp;body=:%20https%3A%2F%2Fwww.coursebuffet.com%2Fdegree" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&amp;body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="fb-like fb_iframe_widget" data-width="300" data-href="https://www.coursebuffet.com/degree" data-layout="standard"
        data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=188163291235734&amp;container_width=1902&amp;href=https%3A%2F%2Fwww.coursebuffet.com%2Fdegree&amp;layout=standard&amp;locale=en_GB&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;width=300"><span style="vertical-align: bottom; width: 300px; height: 32px;"><iframe name="f15da06cc4f82a8" width="300px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="" style="border: none; visibility: visible; width: 300px; height: 32px;" class=""></iframe></span></div>
</div>