<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="degree-header-headline">
                    <h2>Get a Bachelor's Degree Worth of Learning, Pay $0</h2>
                    <h3> A full world class education from top schools is now at your fingertips. Expand your brain and fatten
                        your wallet with Course Centralt Degree Paths.</h3>
                </div>
                <div class="spacer"></div>
                <div class="container">
                    <div class="degree-header-cfa col-md-3 col-xs-5">
                        <a href="https://www.coursebuffet.com/degree/paths" class="degree-header-cfa-signup">Go to Degree Paths</a>
                    </div>
                    <div class="degree-header-down">
                        <img src="images/test/downarrow.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- /container -->
</div>
</div>