<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="degree-header-headline">
                    <h2>Get a Bachelor's Degree Worth of Learning, Pay $0</h2>
                    <h3> A full world class education from top schools is now at your fingertips. Expand your brain and fatten
                        your wallet with Course Centralt Degree Paths.</h3>
                </div>
                <div class="spacer"></div>
                <div class="container">
                    <div class="degree-header-cfa col-md-3 col-xs-5">
                        <a href="https://www.coursebuffet.com/degree/paths" class="degree-header-cfa-signup">Go to Degree Paths</a>
                    </div>
                    <div class="degree-header-down">
                        <img src="images/test/downarrow.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- /container -->
</div>
<div class="container-fluid">
    <div class="degree-features col-md-10 col-xs-12">
        <h3>We believe a college education should be flexible &amp; inexpensive</h3>
        <p>At Course Centralt we are harnessing the power of MOOCs from hundreds of universities to fully replicate a traditional
            university degree</p>
        <div class="degree-feature-left">
            <div class="feature-unit col-sm-4">
                <i class="dicons dicon-paper-plane"></i>
                <h5>Start Instantly</h5>
                <p>
                    Take a course now and start building new skill sets immediately.
                </p>
            </div>
            <div class="feature-unit col-sm-4">
                <i class="fa fa-globe"></i>
                <h5>Customizable Learning</h5>
                <p>
                    Select courses from world class professors and top universities.
                </p>
            </div>
            <div class="feature-unit col-sm-4">
                <i class="dicons dicon-thumbs-up"></i>
                <h5>Recognition </h5>
                <p>
                    Show your learning goals to colleagues and employers with ease.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="degree-slide-white">
        <div class="degree-sc1">
            <div class="container-fluid">
                <h3 class="scheading">Your higher education path is simple and straightforward</h3>
                <div class="degree-sc-unit col-md-8 col-xs-10">
                    <img src="images/test/dp-sc-1.png">
                    <div>
                        <h5>Relevant Learning Paths</h5>
                        <p>Start learning lucrative Computer Science or always useful Management skills.</p>
                    </div>
                </div>
                <div class="degree-sc-unit2 col-md-8 col-xs-10">
                    <img src="images/test/dp-sc-2.png">
                    <div>
                        <h5>The Big Picture is Clear</h5>
                        <p>Straight forward layout that makes your learning goals easy to understand and keeps your focus on
                            learning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
